body{
    font-family: Segoe UI, Arial;
    background:#f4f8fb;
    margin:0;
}

.dark{
    background:#0e1117;
    color:#eee;
}

.container{
    max-width:900px;
    margin:auto;
    padding:25px;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
    box-shadow:0 6px 20px rgba(0,0,0,.1);
}

.dark .card{
    background:#161b22;
}

#chat-bubble{
    position:fixed;
    right:25px;
    bottom:25px;
    width:55px;
    height:55px;
    border-radius:50%;
    background:#0a5ed7;
    color:white;
    font-size:26px;
    line-height:55px;
    text-align:center;
    cursor:pointer;
}

#chat-box{
    position:fixed;
    right:25px;
    bottom:90px;
    width:300px;
    background:white;
    border-radius:12px;
    display:none;
    flex-direction:column;
}

#chat-box.open{display:flex;}
